streamlit==1.40.0
pandas==2.2.2
geopandas==0.14.3
plotly==5.22.0

# Dependencias necesarias para geopandas
fiona==1.9.5
shapely==2.0.4
pyproj==3.6.1
rtree==1.2.0

# Sistema de lectura de archivos GeoJSON
geojson==3.0.1
